$-color: #000;
$-border-radius: 0.25rem;
$-box-shadow: null;

@function -box-shadow() {
  @return $-box-shadow or (0 0.5rem 1rem rgba($-color, 0.15));
}

@mixin configure($color: null, $border-radius: null, $box-shadow: null) {
  @if $color {
    $-color: $color !global;
  }
  @if $border-radius {
    $-border-radius: $border-radius !global;
  }
  @if $box-shadow {
    $-box-shadow: $box-shadow;
  }
}

@mixin styles {
  use-code {
    border-radius: $-border-radius;
    box-shadow: -box-shadow();
  }
}